@charset "utf-8";
body,h1,h2,h3,p,ul,ol,form{
    margin: 0;
    padding: 0;
    text-align: center;
}
#header{
    width:100%;
    height: 75px;
    font-size: 14px;
    position: fixed;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid;
}
#header .logo{
    width: 20%;
    height: 75px;
    border: 0;
    float: left;
}
#header .logo img{
    width: 100%;
    height: 100%;
    border: 0;
}
#header .link{
    width:80%;
    height: 75px;
    line-height:75px;
    background-color: #fff;
    /*background: -webkit-linear-gradient(left,rgba(0,0,0,0), rgba(99,99,99,0.3)); !* Safari 5.1 - 6.0 *!*/
    /*background: -o-linear-gradient(left,rgba(0,0,0,0), rgba(99,99,99,0.3)); !* Opera 11.1 - 12.0 *!*/
    /*background: -moz-linear-gradient(left,rgba(0,0,0,0), rgba(99,99,99,0.3)); !* Firefox 3.6 - 15 *!*/
    /*background: linear-gradient(left,rgba(0,0,0,0), rgba(99,99,99,0.3)); !* 标准的语法 *!*/
}
#header .link ul{
    list-style: none;
    margin-left: 30%;
    width: 100%;
    height: 75px;
}
#header .link ul li{
    width: 25%;
    font-size: 24px;
    text-align: center;
    background-color: #fff;
    float: left;
}
#header .link ul li a:link{
    text-decoration: none;
}
#header .link ul li a:visited {
    text-decoration: none;
}
#header .link ul li:hover {
    background-color: rgba(159, 100, 248, 0.17);
}
#content{
    max-width: 992px;
    /*background-color: #9B410E;*/
    width: 100%;
    height: 300px;
    display: inline-block;
    margin-top: 75px;
    text-align: center;
}
#content .list{
    margin:0 0;
    width: 100%;
}
#content .list h2{
    color: #f60000;
}
#content .list .no1 p{
    margin-left: 3%;
    text-indent: 2em;
    text-align: left;
}
#content .list .no1{
    width: 100%;
    display: inline-block;
    text-align: center;
}
#content .list .no2{
    width: 100%;
    margin-top: 5%;
}
#content .list .no2 table{
    border: 1px solid;
}
#content .list .no2 table tr td{
    border-right: 1px solid;
    border-bottom: 1px solid;
    text-align: left;
}
#content .list .no2 table th{
    text-align: center;
    border-bottom:1px solid;
    border-right: 1px solid;
}
#content .list .no2 tr{
    border: 1px solid;
}
#content .list .no2 table tr td p{
    text-align: left;
}
#content .list .no3{
    width: 100%;
    margin-top: 5%;
}
#content .list .no3 p{
    margin-left: 3%;
    text-indent: 2em;
    text-align: left;
}
@media (max-width: 640px) {
    #header{
        height: 45px;
    }
    #header .logo{
        display: none;
    }
    #header .link{
        width: 100%;
        height: 45px;
        line-height: 45px;
        /*background: -webkit-linear-gradient(left,rgba(0,0,0,0), rgba(99,99,99,0.3)); !* Safari 5.1 - 6.0 *!*/
        /*background: -o-linear-gradient(left,rgba(0,0,0,0), rgba(99,99,99,0.3)); !* Opera 11.1 - 12.0 *!*/
        /*background: -moz-linear-gradient(left,rgba(0,0,0,0), rgba(99,99,99,0.3)); !* Firefox 3.6 - 15 *!*/
        /*background: linear-gradient(left,rgba(0,0,0,0), rgba(99,99,99,0.3)); !* 标准的语法 *!*/
    }
    #header .link ul{
        margin: 0 auto;
        width: 100%;
    }
    #header .link ul li{
        width: 25%;
        font-size: 18px;
    }
}