<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta  name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <link rel="stylesheet" href="/css/ui.css?344" type="text/css" media="all">
        <link rel="stylesheet" href="/css/global.css" type="text/css" media="all">
        <script type="text/javascript" src="/jwplayer/jwplayer.js"></script>

        <link href="__ROOT__/Public/css/students.css" rel="stylesheet">
        <script src="__ROOT__/Public/js/jquery-1.8.3.min.js"></script>
    </head>
    <body>
    <div class="homeTop" id="subTopHeader">
        <div class="homeTopWrap"> <div class="topMenu">
            <ul>
                <li><a href="/">首页</a></li><li><a href="/jinri/">今日秒拍</a></li><li><a href="/weidy/">微电影展</a></li><li><a href="/jingdian/">经典广告</a></li><li><a href="/zhongchuang/">众创空间</a></li><li><a href="/junlv/">军旅故事</a></li><li><a href="/star/">频道明星</a></li><li><a href="/ouba/">欧巴来了</a></li><li><a href="/lvyou/">浪漫之旅</a></li><li><a href="/foot-team/">推荐企业</a></li>      </ul>
        </div>
            <div class="clear"></div>
            <div class="topImg"><img src="/images/banner.jpg" /></div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="subTop">
        <p>当前位置：<a href="/index.html">首页</a>&nbsp;->&nbsp;<a href="/rumeng/">招生简章</a></p>
    </div>
    <div class="clear"></div>
    <div class="boxWrap">
        <div class="boxWrap-title">
            <p><span></span>招生简章</p>
        </div>
    </div>

        <div id="content">
        <div class="list">
            <br>
            <h2>央影明星培养班（秋季班）招生简章</h2>
            <br>
            <br>
            <div class="no1">
                <p>
                    一、基本介绍<br></p>
                <p>“央影影视传媒”是国内首屈一指的将明星挖掘、培养、签约、包装、打造等集于一身的造星机构。此次招生工作是由央影星际频道、中央电视台央视微电影青春频道、香港电视电影行业管理协会、中国影协文创委员会联合举办，培养基地设在天府之国成都国色天乡西部明星城，依托四川省艺术职业学院和宙斯（成都）影视明星培训学校，拥有雄厚的师资力量、资深的管理团队及专业的推广平台。

                </p>
                <br>
                <p>
                    二、课程简介<br></p>
                <p>宙斯（成都）影视明星培训学校开设了演艺培训课程，该课程旨在培养演艺练习生具备和掌握表演艺术的主要理论和技巧，并通过实战教学将其培养成能够在话剧、电影、微电影和电视等表演中独立完成不同人物形象创作的专业表演人才。本课程充分借鉴了国际先进的明星打造体系，开拓了以明星为导师、实战为导向的明星培养模式，对演艺练习生进行全方位的演艺表演训练，并依托集团强大的传媒、人脉、平台等资源优势打通明星培养与塑造的产业链条，致力于让更多怀揣明星梦的优秀青年实现梦想，拥有自己的演艺事业，成为中国乃至国际影视舞台上的明星！
                </p>
                <br>
                <p>
                    三、招生对象</p>
                <p>（1）遵守中华人民共和国宪法和法律规定</p>
                <p>（2）年龄16岁-35岁，特别优秀者可放宽条件限制</p>
                <p>（3）形象好气质佳或长相有个性有特点并有一定的可塑性和潜质</p>
                <p>（4）有一定演艺基础的表演爱好者</p>
                <p>（5）对演艺事业有浓厚兴趣，希望从事电影电视行业的学员</p>
                <br>
                <p>四、招生班次<br></p>
                <p>春季班、夏季班、秋季班（√）</p>
                <br>
                <p>五、学制<br></p>
                <p> 三个月</p>
                <br>
                <p> 六、报名时间</p>
                <p>即日起至2016年10月8日24:00截止（名额有限，报满截止）</p>
                <p> 七、开课时间<br></p>
                <p>2016年10月15日</p>   <br>

                <br>
                <p>八、选拔流程</p>
                <p>初试	复试</p>
                <p>   选拔项目	</p>
                <p>基本表演技能展示及试镜、即兴表演、
                    基本文化素质测试、评委提问</p>
            </div>
            <hr>

            <div class="no2">
                <p><h3> 培养方案</h3></p>
                <table>
                    <tr>
                        <th>周次</th>
                        <th>课时</th>
                        <th>主要内容</th>
                        <th>课程安排</th>
                    </tr>
                    <tr>
                        <td>第1周</td>
                        <td>60</td>
                        <td>表演基础</td>
                        <td><p>
                            训练速成<br>
                            1、明星出道经历回顾及基础表演理论学习<br>
                            2、声乐训练、台词练习、形体塑造、表情训练<br>
                            3、解放天性练习<br>
                            4、镜头前的表演练习<br>
                        </p></td>
                    </tr>
                    <tr>
                        <td> 第2周
                        </td>
                        <td>60</td>
                        <td>艺术赏析及技能</td>
                        <td> 突击课<br>
                            1、艺术解读：剧本解读与编剧课程、影视舞台艺术语言、剧本组织<br>
                            2、表演与导演：影视表演技巧分析及导演指导<br>
                            3、影片鉴赏：电影及微电影作品分析<br>
                            4、化妆与礼仪：化妆技巧、衣着指导及礼仪养成<br></td>
                    </tr>
                    <tr>
                        <td> 第3周</td>
                        <td>60</td>
                        <td>主题表演训练</td>
                        <td>1、无实物表演<br>
                            2、独幕表演<br>
                            3、短片模拟基础练习<br>
                            4、小品表演及话剧模拟表演<br>
                            5、舞台剧经典片段表演<br></td>
                    </tr>
                    <tr>
                        <td> 第4周—第5周			</td>
                        <td>120</td>
                        <td>实战创作课A</td>
                        <td>1、分组完成命题作品（6-10人/组, 根据剧本需要进行人数分组）<br>
                            2、专业导师全程参与拍摄指导创作<br>
                            3、每周国内当红明星空降示范课<br>
                            4、学员所有作品将发布至央视微电影青春频道，根据点击量选出“人气奖”<br></td>
                    </tr>
                    <tr>
                        <td> 第6周—第8周</td>
                        <td>180</td>
                        <td>实战创作课B</td>
                        <td>1、分组完成命题作品（6-10人/组, 根据剧本需要进行人数分组）<br>
                            2、专业导师全程参与拍摄指导创作<br>
                            3、每周国内当红明星空降示范课<br>
                            4、学员所有作品将发布至央视微电影青春频道，根据点击量选出“人气奖”<br></td>
                    </tr>
                    <tr>
                        <td>  第9周-第11周</td>
                        <td>180</td>
                        <td>实战创作课C</td>
                        <td>1、分组完成命题作品（6-10人/组, 根据剧本需要进行人数分组）<br>
                            2、专业导师全程参与拍摄指导创作<br>
                            3、每周国内当红明星空降示范课<br>
                            4、学员所有作品将发布至央视微电影青春频道，根据点击量选出“人气奖”<br></td>
                    </tr>
                    <tr>
                        <td style="border-bottom: 0px">第12周</td>
                        <td style="border-bottom: 0px">60</td>
                        <td style="border-bottom: 0px">结业典礼</td>
                        <td style="border-bottom: 0px">根据交叉专业评审、视频点击量以及综合表现进行期末考评，颁发结业证书，并最终选出优秀学员以及优秀作品。
                        </td>
                    </tr>

                </table>
                <tr style="border: 1px solid">备注	每天学习时间为10小时，每晚7点-9点为总结交流会，由专业导师点评。</tr>
                <hr>
            </div>
            <div class="no3">

                <p><h3> 课程优势</h3></p>
                <p> 初级明星班</p>
                <p>每位学员可参加3部微电影的表演，并且作品将在央视微电影青春频道播出</p>
                <p> 中级明星班</p>
                <p>	1、学校将为学员量身打造3-5部影视作品，并将在网络频道央影星际频道、央视微电影青春频道播出</p>
                <p> 2、学员可参加由央影（中国）传媒集团（央影星际频道、央视微电影青春频道），中国影协文创委员会、香港电影电视行业管理协会联合举办的“青春奖-影视明星盛典”颁奖典礼，与当红明星一起感受红毯的魅力。
                </p>
                <p>3、中级班排名前5%学员可直接签约CMTV央影星际频道和CCTV央视微电影青春频道，并由央影集团专业经纪公司负责推广和包装，参与电影和电视剧本的演出，真正实现你的明星梦。
                </p>
                <p>备注	所有学员的具体档案会被记录并保存在央影星际频道和央视微电影青春频道网站上，以便提供后期的工作推荐
                </p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
            </div>
        </div>

        <div class="no1">
            <p><h3>艺术名师团队</h3></p>
        </div>
        <hr>
        <div class="no1">
            <p><h3>教学设备</h3></p>
        </div>
        <hr>
    </div>

    </body>
</html>